.footer-light {
  border: solid 2px #000;
}

.footer-dark {
  border: solid 2px #ffffff;
}

.footer {
  margin: 100px 0 10px 0;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
}
